nav {
  justify-content: center;
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  z-index: 100;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-link {
  padding: 0.4rem 0.6rem;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: white;
}

.nav-link.active {
  color: white;
  background-color: #333;
}

/* avatar */
.avatar {
  position: absolute;
  bottom: 2px;
  left: -30px;
  z-index: 20;
  width: 170px;
  pointer-events: none;
}

@media (min-width: 576px) {
  nav {
    justify-content: flex-start;
    top: auto;
    bottom: 18px;
    left: 150px;
    right: auto;
    font-size: 0.9rem;
  }
  .nav-link {
    padding: 0.4rem 1.25rem;
  }
}

@media (min-width: 768px) {
  nav {
    left: 200px;
    font-size: 1rem;
  }
  .avatar {
    left: -52px;
    width: 280px;
  }
}
